[2020-07-14 15:23] michaelleerilee opened #3 "Helping cmake on conda-forge installation?"
Any thoughts on how to set things up so I can compile SM2 using CMake on a MacOS Anaconda3 conda-forge installation?

[code]

[2020-07-18 23:19] captainkirk99 commented on #3
I am working on the CMake build now - I will let you know when it's ready for another try.

[2020-07-18 23:43] michaelleerilee commented on #3
Cool. Thanks. I've forked to try out some adaptive resolution.
Michael Lee Rilee, Ph.D.Rilee Systems Technologies LLCContact: mike@rilee.net; Phone: 703-348-8127; Cell: 240-481-3254; Fax: 703-880-7202

    On Saturday, July 18, 2020, 07:19:29 PM EDT, Captain James Tiberius Kirk <notifications@github.com> wrote:

I am working on the CMake build now - I will let you know when it's ready for another

[2020-07-20 12:50] captainkirk99 commented on #3
OK, cmake build is ready for another try. It works for me, but I don't have the same installation as you do. ;-)

Cmake is not my strongest area at the moment, so this will improve with time. ;-)

Here's how I build this:

`cmake -DCMAKE_BUILD_TYPE=Debug -DNETCDF_INCLUDES=/usr/local/netcdf-c-4.7.4_hdf5-1.10.6/include -DNETCDF_LIBRARIES=/usr/local/netcdf-c-4.7.4_hdf5-1.10.6/lib -DSTARE_INCLUDE_DIR=

[2020-07-20 14:04] michaelleerilee commented on #3
The cmake build worked nicely.

I had to add "add_compile_options( -std=c++11 )" to the top level CMakeLists.txt and built with the following.

cmake -DCMAKE_BUILD_TYPE=Debug \  -DNETCDF_INCLUDES=/Users/mrilee/opt/anaconda3/envs/develop/include \  -DNETCDF_LIBRARIES=/Users/mrilee/opt/anaconda3/envs/develop/lib \  -DSTARE_INCLUDE_DIR=/Users/mrilee/opt/local/include/STARE \  -DSTARE_LIBRARY=/Users/m

[2020-07-20 14:25] michaelleerilee commented on #3
Just a little quirk. I ran make install after setting CMAKE_INSTALL_PREFIX and it worked fine except that the @rpath needed to be replaced in the installed executable. I think MacOS is getting tougher for the non-app developer.

[2020-07-25 14:48] captainkirk99 commented on #3
The cmake build is not as advanced as the autotools build.

You should not have to adjust any rpaths in the autotools build. Use the --prefix= configure option to specify where you want the software installed - the default is /usr/local.

CMake is different. ;-) It does not use libtool, so shared libraries are harder to manage. I will take a look at cmake shared libraries today...

[2020-07-25 14:50] captainkirk99 opened #6 "cmake issues finding hdf4 and hdfeos2 libraries"
Niklas Griessbaum
Fri, Jul 24, 1:05 PM (19 hours ago)
to me

Hey Ed!

Time to revisit this. I am still not able to build the STAREMaster. If I understand correctly, you moved from autotools to cmake?

cmake now tells me :

-- STARE_LIBRARY="STARE_LIBRARY-NOTFOUND" ; STARE_INCLUDE_DIR="STARE_INCLUDE_DIR-NOTFOUND"
fatal_error STARE library is required.

STARE.h lives at /usr/local/include/STARE.h on

[2020-07-25 14:50] captainkirk99 opened #7 "handle adaptSpatialResolutionEstimatesInPlace()?"
Question from Niklas:

Kodi/James were adapting the STARE resolution bits according to the (scan-direction) distance to neighbors of the swath in compute_coordinates_resolution() of build_sidecar.cc. STARE itself has an according function adaptSpatialResolutionEstimatesInPlace(). Is this a feature that will be included in STAREMaster as well?

[2020-07-25 15:54] michaelleerilee commented on #7
Take a look at my SM2 repository. I have implemented the in-place resolution adaptation.

[2020-07-25 16:00] michaelleerilee commented on #6
To build my STAREmaster, I used the following.
cmake -DCMAKE_BUILD_TYPE=Debug   -DCMAKE_INSTALL_PREFIX=/Users/mrilee/opt/local   -DNETCDF_INCLUDES=/Users/mrilee/opt/anaconda3/envs/develop/include   -DNETCDF_LIBRARIES=/Users/mrilee/opt/anaconda3/envs/develop/lib   -DSTARE_INCLUDE_DIR=/Users/mrilee/opt/local/include/STARE   -DSTARE_LIBRARY=/Users/mrilee/opt/local/lib   ../SM2-1
I also had to add the

[2020-07-25 16:22] captainkirk99 commented on #3
I am trying to get a cmake build working in GitHub actions now, it will help us all know that the CMake build is working. ;-)

[2020-07-25 21:48] captainkirk99 commented on #3
OK, the cmake build is working with GitHub actions, after some changes.

Please give it a try and let me know if it works for you.

[2020-07-25 21:49] captainkirk99 commented on #6
I don't need to add the -std=c++11 option. What error do you see without it?

[2020-07-25 22:55] captainkirk99 opened #10 "Use git large file system for large test file"
I am trying the Git LFS system for storing a large data file used in testing.

Unfortunately that means everyone who wants to program needs to install git LFS on your machine. Instructions are here for various machines:
https://stackoverflow.com/questions/48734119/git-lfs-is-not-a-git-command-unclear/48734334

Here's how it is done on Ubuntu:

[code]

Once this is done, you should be good to go an

[2020-07-26 13:01] captainkirk99 opened #11 "cmake having trouble with shared netcdf libraries"
@NiklasPhabian is having a build problem with the cmake build:
[code]
￼
What's going on here is that the linker is getting confused about the libz library. It's part of the netCDF shared library, and should be found in that way, but it is not being found.

Usually this is due to order of arguments to the linker. But here I can't see what is wrong.

I don't have this problem on my CMake build. Not

[2020-07-26 13:16] captainkirk99 commented on #11
I think the answer is going to be to use the additional --static argument to nc-config:

[code]

I will try that as soon as I get untangled from my attempt to use git large file service.

[2020-07-26 14:07] captainkirk99 commented on #10
OK, I have merged this and am testing it out. Unfortunately I think that means everyone who wants to run the tests must install the git LFS extension software, which is described above.

Feedback welcome. This is a new feature, I've never used it before. If it does not work out, we can try something else.

[2020-07-26 14:36] captainkirk99 commented on #11
Well unfortunately --static is not the answer. It was not always part of nc-config, and the version of netCDF being used by GitHub actions does not support --static. Doh!

[2020-07-26 15:22] captainkirk99 commented on #10
There is good documentation for LFS here: https://git-lfs.github.com/

[2020-07-26 18:19] captainkirk99 commented on #11
OK, @NiklasPhabian get master and try again, and add this to your cmake invocation:

`-DSM_EXTRA_DEPS="-lhdf5_hl -lhdf5 -lm -ldl -lz -lcurl"
`

[2020-07-26 20:39] michaelleerilee commented on #6
The errors are below. This is using Conda Forge on MacOS 10.13.6.

(develop) twu4:SM2-2-BUILD mrilee$ make

Scanning dependencies of target ssc

[  8%] Building CXX object src/CMakeFiles/ssc.dir/SidecarFile.cpp.o

[ 16%] Building CXX object src/CMakeFiles/ssc.dir/GeoFile.cpp.o

[ 25%] Building CXX object src/CMakeFiles/ssc.dir/ModisL2GeoFile.cpp.o

In file included from /Users/mrilee/git/SM2-2/src

[2020-07-27 12:46] captainkirk99 commented on #6
OK, thanks, I will take a look...

[2020-07-27 14:00] NiklasPhabian commented on #11
no change; failing at the exact same point.

cmake told me this; not sure if relevant

[code]

[2020-08-08 15:10] captainkirk99 opened #17 "add caching to github builds for libraries STARE, netCDF, HDF4, etc."
Every time we run tests we need to rebuild the libraries we need which are not available as ubuntu packages: STARE, HDF4, and HDFEOS2.

Turns out that GitHub has a way of caching the builds so that they are not re-run each time a test runs.

[2020-08-08 15:59] captainkirk99 opened #18 "upgrade stare version in testing"
We are currently using STARE 0.11.3, but the latest release is 0.15.6. We should upgrade the tests.

[2020-08-08 18:17] captainkirk99 commented on #18
This was fixed in #16

[2020-08-08 18:17] #18 closed, assigned to nobody

[2020-08-08 18:19] captainkirk99 commented on #10
The problem with LFS is the bandwidth limitation: 1 GB per month per project. Well, this is too small even for the humble needs of the STAREmaster project, so it's hard to see who can use GitHub LFS successfully. Anyway, LFS has been removed from STAREmaster.

[2020-08-08 18:19] #10 closed, assigned to nobody

[2020-08-08 18:23] captainkirk99 opened #19 "handle large data files needed in testing"
We would like to have testing based on the real-world input data files we are targetting. But these files are too large to check into GitHub and also represent a problem for CI systems like GitHub actions. (Which has to rebuild the test system from scratch each time tests are run, including downloading any large data files.)

So instead, these large file tests will not be run for all test runs. Ex

[2020-08-08 19:30] captainkirk99 opened #21 "need option to createSidecarFile to allow sidecar file to be created in a different directory from the data file"
The default behavior is that the sidecar file gets created in the same directory as the data file. We also need to allow for the case where the sidecar file needs to go to a different directory. This is happening to me with Jenkins testing using large data file tests (see #20 ).

[2020-08-09 13:45] #21 closed, assigned to nobody

[2020-08-09 14:55] #19 closed, assigned to nobody

[2020-08-09 15:03] captainkirk99 opened #24 "add MacOS testing to github actions"
Some of the team are using MacOS, so I will add testing to make sure we build and test cleanly on MacOS.

See #6 the discussion of -std=c++11. I don't see these problems on my Linux system. Let's see if they appear on MacOS with GitHub actions...

[2020-08-09 20:26] #17 closed, assigned to nobody

[2020-08-15 18:38] captainkirk99 commented on #3
Now let's discuss conda-forge.

Can you give me the commands that you use to build your system up? That is the conda commands you used?

Currently I am trying to get github actions testing working for macos...

[2020-08-15 19:09] captainkirk99 commented on #11
@NiklasPhabian can you try this again? There have been many changes to the cmake build, so perhaps this has been solved.

If not, what kind of system are you building on?

[2020-08-15 19:16] captainkirk99 opened #29 "use correct location for STARE in travis, also upgrade version number"
In travis we do:

[code]

THis needs to point to the proper STARE archive and version. @michaelleerilee provided the solution as part of #28

[2020-08-15 19:19] captainkirk99 commented on #29
Actually, travis seems to have stopped working for us.

Well, travis was always temperamental, which is a good reason to use github workflows instead, which do the same thing, but are not as hard to work with. Instead of fixing the .travis.yml, I will delete it from the repo.

[2020-08-15 19:36] #29 closed, assigned to nobody

[2020-08-15 20:26] captainkirk99 commented on #7
OK, I could not get your code to merge because I could not update it, but I ported it to new branches and everything works great. It's all merged to master now so I will close this issue.

[2020-08-15 20:26] #7 closed, assigned to nobody

[2020-08-15 20:27] captainkirk99 commented on #6
OK, the -std=c++11 has been added to the CMake build.

[2020-08-15 20:27] #6 closed, assigned to nobody

[2020-08-16 04:26] michaelleerilee commented on #3
I'll look. Maybe there's a conda inventory command. One point: I always try to specify using the conda-forge channel.

[2020-08-16 13:45] captainkirk99 opened #33 "Handle MODIS MYD04_3K files - Aerosol product 3 km/10 km"
These files have Aerosol product 3 km/10 km

See https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/MYD04_3K

These files are small. I have added MYD04_3K.A2020001.0040.061.2020002235147.hdf to the test/data directory and it is only 8131340 bytes ~ 8MB.

hdfview shows the following info about the fields in this file:

[code]

There are many data variables:

![image](https://

[2020-08-16 13:52] captainkirk99 opened #34 "Handle MODIS MYD01 files - Scans of raw radiances in counts"
The MYD01 files are Scans of raw radiances in counts.
https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/MYD01

These files are big. I have the file MYD01.A2020153.0000.061.2020229131219.hdf and it is 574155090 bytes (~574 MB). So this will be tested with the large test files option.

There are many vars, but no lat/lon fields.

![image](https://user-images.githubusercontent

[2020-08-16 14:33] captainkirk99 commented on #33
Following the documentation got me to this file spec: https://atmosphere-imager.gsfc.nasa.gov/products/aerosol/file-spec

This includes a netCDF ncdump of the file metadata:
[code]

[2020-08-16 16:40] captainkirk99 opened #35 "Check sidecar file produced in tests (metadata only)"
Currently our tests produce sidecar files, but the output is not checked.

What we can do, as is done with the netCDF utility tests, is check in CDL files which represent the ncdump of the sidecar file. Then we use ncdump to check the sidecar file produced in the test matches what we expect.

[2020-08-22 13:52] captainkirk99 opened #38 "Add cover to sidecar files"
We wish to add a "cover" to the sidecar file.

The cover will express the coverage of the data in the file, and allow for easy matching against search requirements.

The cover is expressed either as:
1 - a 1-D array of STARE indicies.
2 - an array of STARE intervals.

[2020-08-22 13:55] captainkirk99 opened #41 "Add list of supported data sets to README"
The README should list the datasets we can handle.

[2020-08-22 17:23] NiklasPhabian opened #42 "Handle MODIS MOD09 files - Atmospherically Corrected Surface Reflectance 5-Min L2 Swath 250m, 500m, 1km"
MOD09/MYD09 files contain MODIS level 2 surface reflectance data at 3 resolutions for Terra (MOD) and Aqua (MYD).

Granule size is about 350 MB.

Geolocation is given only at the coarsest, 1km, resolution. Geolocation for 500m and 250m need to be interpolated.

Spatial Resolution:
250m (bands 1-2)
500m (bands 3-7)
1000m (bands 8-36)

The individual SDS resolution is clearly distinguishable from th

[2020-08-22 17:47] NiklasPhabian commented on #42
It might be worthwhile to forego the level2 products and rather only do a sidecar for the geolocationMOD03/MYD03 products. The lat/lon SDS of MOD09 is merely a replication of this data.

https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/MOD03

https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/MYD03

[2020-08-22 23:15] michaelleerilee commented on #42
I believe for some of these datasets the higher resolution interpolated geolocations may be available in separate geolocation files. Sometimes it's not so easy to find a reference to these separate files.

[2020-08-23 13:25] captainkirk99 commented on #42
The MOD09 files are currently supported by STAREmaster, but this is not well documented. I will take a round of documentation this morning to get it caught up.

I looked into the resolution issue for a bit and unfortunately the higher resolutions are not included in the MOD03 files. I contacted the MODIS support people about this and this is what they had to say:

So in the MOD09 files, we have th

[2020-08-23 13:37] captainkirk99 opened #47 "How to handle MODIS geolocation files (MOD03) - should we just do sidecars files for them?"
In #42 @NiklasPhabian raises a point which I wanted to call out for separate discussion.

The MODIS instruments release a large number of L2 files. They all share geo-location information, somewhat awkwardly, which is release in a separate dataset MOD03. However, it is also the case that some files (like MOD09) also contain the lat/lon data.

Furthermore, as an added complexity, some files actuall

[2020-08-23 13:42] captainkirk99 opened #48 "Release version 1.0.0"
With greater interest in STAREmaster comes the need for iterative development and releases.

The goal of version 1.0 is to capture where we are right now, as a release - so it is feature complete. We are not trying to find new features to put in 1.0, there are many more releases ahead! ;-)

For those interested in what comes next, take a look at the planning for 1.1: https://github.com/SpatioTempo

[2020-08-23 18:02] NiklasPhabian commented on #47
somewhat tangential: Some L2 products of the VIIRS suite (e.g. VNP09) do not package geolocation info. Consequently the L2 product have to be used together with the VNP03 product

[2020-08-23 20:53] #41 closed, assigned to nobody

[2020-08-23 22:06] captainkirk99 opened #50 "Handle VNP03IMG - VIIRS/NPP Imagery Resolution Terrain-Corrected Geolocation 6-Min L1 Swath 375m"
These must be done before #44.

[2020-08-23 22:10] captainkirk99 commented on #38
@NiklasPhabian @michaelleerilee where do I get the cover from?

Is there a STARE library function for it?

Is it different from the STARE indicies of the lowest-resolution data in the file?

[2020-08-26 16:53] NiklasPhabian commented on #11
Ai. Still not able to compile (on Ubuntu 20.04)

[code]

[2020-08-26 20:52] michaelleerilee opened #51 "Required feature: Temporal model"
Temporal resolution, time for each observation, temporal cover.

[2020-08-27 15:07] NiklasPhabian commented on #38
Do you want an index lookup for a region described by G-Rings? AFAI can see, this is not directly exposed in STARE yet. However, the underlying SpatialInterface is in fact based on G-Rings / 0-constraints / great circles. That means that you can get the cover by using STARE::ConvexHull by providing the 4 intersection points of the G-Rings. A bit backwards ...

[2020-08-28 21:25] captainkirk99 commented on #47
James Frew suggests interpolation to exploit the high resolution of the data. However we must consider cost of calculation.

[2020-08-28 21:28] michaelleerilee commented on #47
Here is the code I found when I was hacking around. https://github.com/SpatioTemporal/GeoData/tree/master/geodata/modis_coarse_to_fine_geolocation
It makes sense to review and see if it's done better elsewhere.

[2020-08-28 21:34] captainkirk99 commented on #38
G-Ring - a series of points connected by geodesics.
The MODIS data files apparently have some G-Ring info.
Michael suggests using non-convex hull function.

[2020-08-28 22:24] NiklasPhabian commented on #47
The [MOD1A MOD03 ATBD provides](https://modis.gsfc.nasa.gov/data/atbd/atbd_mod28_v3.pdf) a method to find the location of the 500 m and 250 m pixels:

"A set of parametric equations and a table of sub-pixel corrections for each detector in each band will be included in the data product to capture the effects of band-to-band and detector to detector offsets and to permit calculation of the location

[2020-08-28 23:17] michaelleerilee commented on #47
I'm wondering if pixel is even the correct concept at this point.

[2020-08-29 13:25] captainkirk99 opened #52 "Documentation improvements for V 1.0 release"
There is a typo in the README.

Also the main doxygen documentation page needs to be filled in.

Also README should list the datasets needed for --enable-large-file-tests, also should explain this option in the README.

[2020-08-29 17:36] #42 closed, assigned to nobody

[2020-08-29 18:14] captainkirk99 commented on #35
I had wanted to do this with ncdump, but the CDL of the STARE sidecar file is just too darned big.

Well I can start with the metadata...

[2020-08-29 22:11] captainkirk99 commented on #35
In the next release, we want to be doing better than just checking the metadata in testing!

[2020-08-29 22:14] captainkirk99 opened #55 "Check some or all of the STARE indexes produced in testing"
When we run a file through createSidecarFile in testing, we should be checking the values of the STARE indexes in those test files, but we are currently only testing the metadata (see #35 )

We need to figure out a way to check the data as well.

We could just include some of the index files in the repo and then confirm we have produced them correctly. A sidecar file for MOD09 is ~15 MB, so not to

[2020-08-29 22:16] captainkirk99 commented on #11
I know what the problem is but not (yet) how to solve it in CMake! ;-) I will take another look at this tomorrow when I am fresh...

[2020-08-29 22:18] captainkirk99 commented on #51
Is there a function in the STARE library that will give me the temporal index from a date/time?

[2020-08-30 01:07] #35 closed, assigned to nobody

[2020-08-30 01:17] #52 closed, assigned to nobody

[2020-08-30 15:44] captainkirk99 commented on #48
From my recent paper, Software Engineering for PIO:

The following steps are followed for release:

1. Update Release Notes: The release notes are updated with information about changes since the last release.
2. Update Library Version: The version information is updated in configure.ac (three places), and CMakeLists.txt. These changes are committed to the master branch.
3. Update Shared Library V

[2020-08-30 15:48] captainkirk99 opened #56 "Cause STAREmaster library to be also installed as a library"
Currently the STAREmaster library is used to build the createSidecarFile utility, but then the library is not installed.

We want the library to be installed as a library as well, so that other applications can be written besides createSidecarFile.

[2020-08-30 16:07] captainkirk99 opened #58 "build systems should check for ncdump"
Since ncdump is used in testing, it should be checked by configure/CMake.

[2020-08-30 16:27] #48 closed, assigned to nobody

[2020-08-30 19:31] captainkirk99 opened #59 "Add attribute with info about what version of STAREmaster produced the sidecar file..."
At some point we are going to want to know what version of STAREmaster was used to produce a sidecar file, so lets put an attribute in with that info.

[2020-08-30 19:33] captainkirk99 opened #60 "Add some attributes to sidecar files to conform to CF conventions"
Some global attributes we should add:
* Conventions to a string value that contains "CF-1.8"

Also:

See https://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#_attributes

[2020-08-30 19:34] captainkirk99 commented on #59
This info should be in the "source" attribute described in #60

[2020-09-06 14:53] captainkirk99 opened #62 "documentation improvements for the 1.1 release"
- Release notes should have better explanation of STARE, maybe with a diagram explaining what it is.
- Similarly for the README.
- Release notes should reference the STARE library.
- Doxygen document needs a section describing the sidecar file, listing CF-convention attributes.
- README should have links to all dependent libraries and a references section with all references.
- Is there a canonica

[2020-09-06 15:17] #58 closed, assigned to nobody

[2020-09-08 22:05] michaelleerilee commented on #38
I have added a cover calculation (including writing to the sidecar) on the branch cover1.

[2020-09-11 21:12] jgallagher59701 opened #64 "autotools build fail if HDF4 and HDFEOS are not built with -fPIC, and maybe if CXXFLAGS is not set to -std=c++11"
Building with autotools, ./configure fails with:

[code]

[config.log](https://github.com/SpatioTemporal/STAREmaster/files/5211529/config.log)

[2020-09-11 21:20] captainkirk99 opened #65 "check version of STARE library"
Make sure the version of STARE library is checked.

[2020-09-11 21:43] captainkirk99 commented on #64
Can you try setting CXXFLAGS to -std=c++11

`export CXXFLAGS='-std=c++11'
`
Then try again.

[2020-09-12 13:02] captainkirk99 opened #67 "update testing to use STARE-0.16.2"
Due to work on the cover (see #38) we need to upgrade the version of the STARE library used in testing.

[2020-09-12 22:17] michaelleerilee opened #69 "MOD05_L2 1km array sizes are actually for 5km data"
In the MOD05_L2 files we have data fields with both 1km and 5km resolutions, but geolocation data only for 5km. A related MOD03 file does have 1km resolution geolocations.

**Is it easy and un-confusing to have both 1km and 5km translation tables and covers in our sidecar?**

Some description:

It looks like we're calling things 1km that are actually 5km.

Considering the file: MOD05_L2.A2005349.2

[2020-09-13 06:00] michaelleerilee commented on #69
FYI. Some examples visualizing the 5km cover & data are at https://github.com/SpatioTemporal/STARE-Cookbooks/blob/master/contrib/jupyter/9y-SidecarFile-Introduction.ipynb

[2020-09-13 17:17] captainkirk99 commented on #56
OK this was a little tricky because --enable-shared does not work for either hdf4 or hdfeos2. But both can be built with shared libraries by setting CFLAGS-fPIC.

Also the STAREmaster library was previously called  libssc. I have changed that to libstaremaster for clarity.

[2020-09-14 19:58] michaelleerilee opened #70 "Support data for SIGSPATIAL demo a priority"

[2020-09-14 20:04] michaelleerilee opened #71 "Sidecar-redundancy - gridded and derived data products have common geolocations"
- Different data sets on the same grid can share a sidecar.
- A dataset derived from another and sharing geolocations can share a sidecar.

Note once data are all associated with STARE SHARDS the need for sidecars like this goes away.

[2020-09-16 20:10] jgallagher59701 commented on #64
I get further, but now:

GeoFile.cpp:96:19: error: no matching function for call to 'SWopen'
    swathfileid = SWopen(fileName.c_str(), DFACC_RDONLY);

[2020-09-16 20:16] jgallagher59701 commented on #64
The library file for hdfeos is in the dir set with LDFLAGS and the header is in the dir set with CPPFLAGS. The library file is:
libhdfeos.a and the headers are: HDFEOSVersion.h, HdfEosDef.h, .... The version info in the Version header is "HDFEOS Version: 2.19".

[2020-09-16 21:05] michaelleerilee opened #72 "Unallocated pointer freed"
This is occurring in the cover1 branch.

While working on MOD05_L2.A2019336.0305.061.2019336211648.hdf, we have the following output from a failing createSidecarFile run.

[2020-09-17 12:11] michaelleerilee commented on #72
This may be a bug in STARE see https://github.com/SpatioTemporal/STARE/issues/62.

[2020-09-19 13:01] captainkirk99 commented on #64
OK, once again I need config.log. ;-)

[2020-09-19 13:11] #56 closed, assigned to nobody

[2020-09-19 13:24] captainkirk99 commented on #64
Here's an issue I've seen several times when building like this:

`autoreconf -i && CPPFLAGS="-I/usr/local/hdfeos/include -I/usr/local/hdf-4.2.15/include -I/usr/local/STARE-0.15.6/include -I/usr/local/netcdf-c-4.7.4_hdf5-1.10.6/include" LDFLAGS="-L/usr/local/hdfeos/lib -L/usr/local/hdf-4.2.15/lib -L/usr/local/STARE-0.15.6/lib -L/usr/local/netcdf-c-4.7.4_hdf5-1.10.6/lib" CXXFLAGS='-g -Wall' ./confi

[2020-09-19 13:31] captainkirk99 commented on #64
OK, @jgallagher59701 I'm confused by your build error. You are having a hard time with linking to SWopen(), yet the configure.ac contians:

`AC_SEARCH_LIBS([SWopen], [hdfeos], [], [AC_MSG_ERROR([hdfeos library required])])
`

So this means that SWopen is linked during configure, and if not working, the configure scripts errors out. So WTF?

Please post the config.log and if possible full output of

[2020-09-19 14:01] captainkirk99 opened #73 "make netcdf required for STAREmaster build"
Currently in the autotools build we have:

[code]

And later:

[code]

At the time we thought we might write sidecar files in either netCDF or HDF5, but since then we have decided to always write then as netCDF/HDF5 files (i.e. netcdf-4 files). This is because int64s are required to hold STARE indexes and that type is not available in netCDF classic formats or HDF4.

So now we totally depend on ne

[2020-09-19 14:10] captainkirk99 opened #74 "Check that HDF4 was built with --disable-netcdf at configure time"
One annoying thing the HDF4 team did was to include a complete copy of the netCDF C API. This is pretty inconsiderate because there will be confusing name clashes between HDF4 and netCDF unless HDF4 is built with --disable-netcdf.

This is a well-known problem that I have encountered many times before with HDF4. ;-) But every now and again, like this moring, I forget and discover it all over again

[2020-09-19 17:54] captainkirk99 commented on #11
OK, I'm looking into this and have found at least part of the problem. My CMake output now shows me this information:

`-- HDF5_FOUND="TRUE" ; HDF5_INCLUDE_DIRS="/home/ed/anaconda3/include" ; HDF5_LIBRARIES="/home/ed/anaconda3/lib/libhdf5.so;/usr/lib/x86_64-linux-gnu/librt.so;/usr/lib/x86_64-linux-gnu/libpthread.so;/home/ed/anaconda3/lib/libz.so;/usr/lib/x86_64-linux-gnu/libdl.so;/usr/lib/x86_64-l

[2020-09-19 18:12] captainkirk99 commented on #11
OK, the core problem here is that netCDF is not returning a list of libraries needed to link. In the autotools world this is handled by the shared library .so file, but the CMake world does not use that system. So the CMake package FindNetCDF that we are using needs to return a list of required libraries.

I will start by looking around for a FindNetCDF that does this already - I cannot be the fir

[2020-09-20 15:13] captainkirk99 commented on #11
I have found 3 new versions of FindNetCDF. CMake is crazy!

I am trying them now to see if any of them work better...

I tried this one:
https://raw.githubusercontent.com/jedbrown/cmake-modules/master/FindNetCDF.cmake

THis results in this, which is not very helpful:

[code]

I don't know how to tell this version of FindNetCDF.cmake where to look for netCDF.

[2020-09-20 15:38] captainkirk99 commented on #11
I then tried this one:
https://github.com/Kitware/VTK/blob/master/CMake/FindNetCDF.cmake

[code]

So also not helpful. It seems for all of these you have to set the NETCDF_INCLUDES and NETCDF_LIBRARIES from the command line, and the FindNetCDF.cmake does nothing. Or else, if everything has been installed with cmake, it looks for the cmake install info. So that's only helpful in cases where the who

[2020-09-23 22:06] captainkirk99 commented on #64
OK I am not confused by the error any more. ;-) When you see this:

`can not be used when making a shared object; recompile with -fPIC
`

That is the clue. You need to rebuild hdfeos with CFLAGS=-fPIC. That's because it is not really capable of building shared libraries by itself. This library was coded before libtool was widely used, so shared libraries are not something it copes with. HDF4 is th

[2020-09-26 11:08] captainkirk99 commented on #64
OK, last I heard you are having trouble building hdfeos. Here's how I build HDF4 and hdfeos. Start by deleting previous installs, especially install of hdf4, which will put a netcdf.h file into its include directory and mess up everything!

First I set CPPFLAGS and LDFLAGS:

[code]

Then build HDF4:

[code]
Then, to build hdfeos:

[code]

These build instructions are from our autotools GitHub test

[2020-09-26 12:24] captainkirk99 opened #78 "Remove extra-slow operations needed to overcome an apt-get issue"
Some time ago, there was some issue with the ubuntu distribution on the github workflow machines. Everything was working fine, then one day the apt-get install commands started failing on all my projects. Bummer!

So after a little internetting I inserted this, which made it work, but added a few minutes to the build time:

[code]

I'm getting tired of waiting for this every time, so let's see if

[2020-09-26 13:29] #67 closed, assigned to nobody

[2020-09-26 13:29] #78 closed, assigned to nobody

[2020-09-26 16:47] captainkirk99 commented on #72
Yes, I have been looking at that.

It happens on this line of ModisL2GeoFile.cpp:

`   cover1[0]                = index.NonConvexHull(perimeter,finest_resolution);
`

Where cover1 is defined in GeoFile.h along with other cover stuff:

[code]

The error is like this:

[code]

I am running this under valgrind and it's slow. ;-)

[2020-09-26 17:03] captainkirk99 commented on #72
Not a lot of help from valgrind:

[code]

[2020-09-27 04:46] michaelleerilee commented on #72
Here's an observation. In GeoFile.h I added the following.

[code]

Which is to mimic the approach taken with geo_index1. I tried to avoid copying the STARE_SpatialIntervals into geo_cover1, so I have the following in ModisL2GeoFile.cpp.

[code]

Which I'm guessing doesn't do what I want and works only part of the time. I went looking for constructors and finalizers for GeoFile and couldn't find a

[2020-09-27 14:47] captainkirk99 commented on #72
Well I see I was very lazy and do not have destructors to clean up all my memory. What a slob!!

So I will add those this morning and we will see if that brings some clarity.

[2020-09-27 14:47] captainkirk99 opened #79 "need destructors to free memory"
We allocate a bunch of memory but don't free it. What are we, a bunch of Fortran programmers? Let's get our act together!

[2020-09-27 16:51] #74 closed, assigned to nobody

[2020-09-27 16:54] captainkirk99 commented on #11
@NiklasPhabian can you try again?

Also, what version of netCDF are you using? Did you install it yourself from source or get it from a package management system?

[2020-09-27 17:08] captainkirk99 commented on #11
Wait, hold on, I have just identified another cmake issue I am working on...

[2020-09-27 19:30] captainkirk99 commented on #72
Well the address sanitizer has a very dramatic-sounding error for this!

[code]

[2020-09-27 20:43] captainkirk99 commented on #72
OK, after all my memory cleanup I come round to the exact same problem. ;-)

The problem comes here:

`    cover1[0]                = index.NonConvexHull(perimeter,finest_resolution);
`

[2020-09-27 21:16] captainkirk99 commented on #72
OK, the problem here is that you are passing back a reference, and then treating it as a pointer. ;-)

I added this field to GeoFile:

`    STARE_SpatialIntervals cover;
`
Then, changed to this:

`    cover = index.NonConvexHull(perimeter,finest_resolution);
`
OK, this works better and is closer to the answer. BUt it still causes some test failures in my large file tests that I am looking into.

[2020-09-27 21:44] captainkirk99 commented on #72
OK, I've got this working now, at least for calculating (but not writing) the cover. I have your writing code commented out for the moment.

When this runs on the large file tests it is pretty darned slow! Is this expected?

[2020-09-28 12:54] michaelleerilee commented on #72
Maybe. That particular call does a fair amount of work to handle weirdly shaped regions. What's the size of the data? 2000x2000?

Multi-threading would be nice...

[2020-09-30 20:14] captainkirk99 opened #81 "add function to STAREmaster library which gives filename of sidecar file"
This way we can generate a sidecar file using MOD03 and use it for many other data files. But the STAREmaster library needs to provide the name of the sidecar file.

[2020-10-01 14:11] michaelleerilee commented on #38
I've got the test working on my local branch -- I'll push soon.

Constructing a cover is taking 2-3 minutes for MOD05_L2 because I'm using all points on the perimeter of the data array. This is overkill for a number of reasons. MOD05_L2 has GRING (geodesic ring) information in the EOS metadata. See GROUP=GRING therein. I've parsed this in Python--but it would be nice to do the following.

- Check

[2020-10-01 14:37] michaelleerilee opened #82 "Push granule-specific information into GeoFile derivates"
createSidecarFile should know as little as possible about the different subclasses of GeoFiles. Information delimiting different granule types should be encapsulated in respective GeoFile subclasses, as much as possible. This will simplify 'main' and make extension and refactoring easier.

[2020-10-01 16:02] michaelleerilee commented on #69
I've changed the labelling to reflect the 5km nature of the geolocation data. This is hardcoded in the subclass. I don't know how easy it would be to extract this data (automatically) without special understanding of the granule files being processed.

[2020-10-01 16:04] michaelleerilee commented on #81
This also depends on the variable, as different variables in a granule may have different footprints.

This API function will be very nice to have!

[2020-10-01 16:14] michaelleerilee opened #83 "Verify MOD09 labeling"
MOD05 mislabeled geolocations as 1km instead of the actual 5km. We need to check MOD09 to make sure the labeling is correct.

[2020-10-01 16:41] michaelleerilee commented on #47
It sounds like we're going to enable something like

`
createSidecarFile -d MOD03 MOD03...hdf
`

and then provide a library function that maps a file <filename.hdf> to support files like MOD03..._stare.nc. That way, someone can feed the MOD05 name to the API and get the relevant _stare.nc files. Signature in API will probably be something like

`
vector<string> get_relevant_sidecarfilenames(string

[2020-10-01 16:43] michaelleerilee opened #84 "Need examples of parsing granule metadata in C++"
Constructing a cover is taking 2-3 minutes for MOD05_L2 because I'm using all points on the perimeter of the data array. This is overkill for a number of reasons. MOD05_L2 has GRING (geodesic ring) information in the EOS metadata. See GROUP=GRING therein. I've parsed this in Python--but it would be nice to do the following.

- Check a granule for GRING information
- If it exists, parse the GRING a

[2020-10-04 14:28] #72 closed, assigned to michaelleerilee

[2020-10-04 16:28] captainkirk99 commented on #79
I believe this is complete and valgrind confirms that we are no longer leaking memory.

[2020-10-04 16:28] #79 closed, assigned to nobody

[2020-10-04 16:29] captainkirk99 commented on #73
NetCDF is now required for both the autotools and cmake builds.

[2020-10-04 16:29] #73 closed, assigned to nobody

[2020-10-04 16:53] captainkirk99 commented on #55
This was at least partially achieved with Michael's diagram of all the MODIS swaths. If the STARE indexes were not correct, then we would not have gotten that nice swath diagram.

But I would still like to add some additional checking of specific values...

[2020-10-04 17:08] captainkirk99 opened #85 "Take NCERR out of NetCDFSidecarFile.cpp"
It should be in NetCDFSidecarFile.h.

[2020-10-05 22:08] captainkirk99 commented on #64
I worked with James and we can now close this.

[2020-10-05 22:08] #64 closed, assigned to nobody

[2020-10-07 16:38] michaelleerilee opened #86 "README Up to date? STARE dependency: 0.15.6-beta?"
Is the README up to date?

[2020-10-08 13:46] NiklasPhabian opened #87 "Better error message: STAREmaster runs, produces no output and no error"
Running createSidecarFile invoked as follows produces the following feedback, but no sidecar file

griessbaum@xps:~/MOD09$ createSidecarFile -v MOD09.A2020187.1740.006.2020189022420.hdf
GeoFile constructor
ModisL2GeoFile constructor
Reading HDF4 file MOD09.A2020187.1740.006.2020189022420.hdf with build level 5
nswath 1 MODIS SWATH TYPE L2

[2020-10-08 13:53] NiklasPhabian opened #88 "Make Check fails 1 test"
``
PASS: t1
PASS: t2
FAIL: run_tests.sh
============================================================================
Testsuite summary for STAREmaster 1.0.0
============================================================================
# TOTAL: 3
# PASS:  2
# SKIP:  0
# XFAIL: 0
# FAIL:  1
# XPASS: 0
# ERROR: 0
============================================================================
See test/tes

[2020-10-08 15:04] NiklasPhabian opened #89 "confusion about readme"
to clarify, while building hdfeos and hdf4 we set the prefix to /usr/local/hdfeos_fPIC and /usr/local/hdf-4.2.15_fPIC

Then, when building STAREmaster, the readme states to set cpp flags to /usr/local/hdfeos/ and /usr/local/hdf-4.2.15/ (not _fPIC).

For someone who has no idea what is going on, this is confusing.

Also, the github actions installs netcdf-bin and libnetcdf-dev from the Ubuntu (18.0

[2020-10-08 15:08] NiklasPhabian opened #90 "createSidecarFile usage help"
createSidecarFile usage says:

STARE spatial create sidecar file.
Usage: createSidecarFile [options] [filename]}
Examples:
  createSidecarFile data.nc
  createSidecarFile data.h5

The trailing curly bracket seems like a typo. And the filename should be a non-optional argument (remove the brackets).

[2020-10-08 18:35] NiklasPhabian opened #91 "configure does not fine STARE.h"
on schiss (centos7), STARE.h lives at /usr/local/include/STARE.h, but .configure does not find it

checking for STARE.h... no
checking whether STARE library is present... configure: error: STARE library not present.

I tried setting
export CPPFLAGS=" -I/usr/local/include" and
export LDFLAGS="-L/usr/local/lib"

which seems superfluous and did not change anything

[2020-10-09 02:26] michaelleerilee commented on #88
Is this the most recent push? This test failure looks like the one that was most recently fixed. We executed the pull request on cover1 which corrected this, I thought.

[2020-10-09 02:29] michaelleerilee commented on #87
Does createSidecarFile infer the granule type from the name or metadata? I’ve always used a command line option. Something like -MOD09.

[2020-10-09 17:36] michaelleerilee opened #92 "Installation: Change STARE_LIBRARY to STARE_LIB_DIRECTORY to reflect cmake convention."
Generally cmake is a little verbose and something like STARE_LIBRARY would actually refer to the library, i.e. libSTARE.a, not the directory.

[2020-10-10 15:46] #85 closed, assigned to nobody

[2020-10-10 15:52] captainkirk99 commented on #83
OK, so at issue here are the MOD09L2 files, described here: https://github.com/SpatioTemporal/STAREmaster/issues/42

[2020-10-10 15:58] captainkirk99 commented on #83
OK, taking a look with hdfview, to see what the original data files says. In the attributes for the lat/lon fields, it does say 1 km. Here's a screenshot:

![image](https://user-images.githubusercontent.com/37277297/95659501-bd4eaf00-0ade-11eb-8530-458f2fdc07ea.png)

We can also see that the field names have "1 km" in them, and the data fields also have an attribute:

 `Nadir Data Resolution = 1km

[2020-10-10 16:01] captainkirk99 commented on #65
See related issue: https://github.com/SpatioTemporal/STARE/issues/64

[2020-10-10 23:02] captainkirk99 commented on #60
OK, we now have this:

[code]

Still have to handle institution (which will be optionally passed in as a command line parameter), and also how to test this when the history is going to change each time the test is run, due to the embedded date/time. Hmm...

Also still need to add the Attributes = CF convention.

[2020-10-11 11:18] captainkirk99 opened #95 "upgrade STARE to 0.16.3"
Need to upgrade to the latest release of the STARE library.

[2020-10-11 14:17] captainkirk99 commented on #11
OK, I finally found the magic cmake workaround that I've been hunting for - the CMake equivalent of setting the LIBS var. And it is to set the CMAKE_CXX_STANDARD_LIBRARIES variable when invoking cmake.

For example, to add -lcurl to the linked libraries:

`cmake -DTEST_LARGE=/home/ed -DENABLE_LARGE_FILE_TESTS=ON -DCMAKE_BUILD_TYPE=Debug --trace-source=CMakeLists.txt -DNETCDF_INCLUDES=/usr/local/ne

[2020-10-11 14:29] #95 closed, assigned to nobody

[2020-10-11 17:47] captainkirk99 opened #96 "turn back on checking of CDL of MOD05 file in test/run_tests.sh"
We have the checking commented out:

[code]

[2020-10-11 18:25] #60 closed, assigned to nobody

[2020-10-11 18:28] captainkirk99 commented on #59
This is now complete as part of #60.

[2020-10-11 18:28] #59 closed, assigned to nobody

[2020-10-11 18:43] captainkirk99 commented on #89
@NiklasPhabian yes, when building, you must point CPPFLAGS/LDFLAGS to wherever you have installed HDF4 and hdfeos using -fPIC. I have cleaned up the README to more clearly reflect this.

The HDF4 and hdfeos builds are indeed annoying. They are quite old and were put together before some of the modern tools and conventions we use today became common. And there is no chance they will be updated, so

[2020-10-11 18:50] captainkirk99 commented on #91
Can you try setting this as well, before running configure?

`export CXXFLAGS='-std=c++11'`

[2020-10-11 18:53] captainkirk99 commented on #92
This is happening in cmake/FindSTARE.cmake.

I actually have no idea where this FindSTARE.cmake file came from. I'm pretty sure I didn't write it. ;-)

[2020-10-11 18:55] captainkirk99 commented on #87
You must use -d MOD09 as a command line option.

Better error messaging in this case is required.

[2020-10-11 18:55] #89 closed, assigned to nobody

[2020-10-11 18:55] #86 closed, assigned to nobody

[2020-10-11 20:22] captainkirk99 commented on #84
OK, so in the StructMetadata.0 metadata we have:

[code]

[2020-10-11 20:45] #87 closed, assigned to nobody

[2020-10-11 20:45] #90 closed, assigned to nobody

[2020-10-12 00:05] michaelleerilee commented on #84
Looks like there are 4 corners in there as lon-lat pairs. We’ll have to extract those and call a hull routine.

[2020-10-12 17:30] michaelleerilee commented on #84
We should detect and load the GRING information before we calculate the cover, and then switch between the perimeter-based and the GRING-based calculations.

[2020-10-12 20:38] captainkirk99 commented on #84
I am trying to find a way to do this with the hdfeos library.

Heres an interesting site with sample codes in many languages for many of these files. Unfortunately, they don't extract the StructMetadata. ;-) https://hdfeos.org/zoo/index_openLPDAAC_Examples.php#MOD

[2020-10-14 17:42] michaelleerilee opened #100 "Construct Ubuntu 24 Stock Test Environment For Installation Debugging"

[2020-10-14 19:55] NiklasPhabian commented on #100
20.04 ;)

[2020-10-14 20:21] captainkirk99 opened #101 "When we have faster ways to compute cover, make sure we have command line option to select which one"
When we can compute cover in some other ways, we need to be able to select between them.

[2020-10-14 20:28] NiklasPhabian commented on #91
that results in:

checking STARE.h usability... yes
checking STARE.h presence... no
configure: WARNING: STARE.h: accepted by the compiler, rejected by the preprocessor!
configure: WARNING: STARE.h: proceeding with the compiler's result
checking for STARE.h... yes
checking whether STARE library is present... yes
checking LIBS...  -lSTARE
checking for library containing nc_create... no
configure: er

[2020-10-14 20:30] captainkirk99 commented on #84
From the HDF4 team:

[2020-10-14 20:36] michaelleerilee commented on #84
I appreciate their help, but there always seems to be too much manual labor. I don't think we want STAREmaster calling CLI tools, if we can help it.

[2020-10-14 20:40] NiklasPhabian commented on #88
was commit: 58f306d; i.e. 2020-10-04
https://github.com/SpatioTemporal/STAREmaster/commit/58f306d32678fe6e0882c10f319ff9f15a629e08

I don't know what happend. I pulled the latest version; now configure barfs at me about HDF4:
configure: error: HDF4 library must be built with --disable-netcdf.

I built HDF4.2.13 exactly like explained in the README and it is installed at /usr/local/hdf-4.2.15_fPIC,

[2020-10-14 21:04] captainkirk99 commented on #84
No, of course not. I'm just recording the answer here so it doesn't get lost in my email. ;-)

[2020-10-15 02:08] michaelleerilee opened #102 "Future proofing against HDF-EOS changes"
It seems HDF-EOS is fading, we don't people to get the idea that we are part of that shrinking pond.

Can we limit HDF-EOS dependencies, i.e. direct calls, and let some bigger fish like NetCDF give us those functions.

[2020-10-16 05:34] michaelleerilee commented on #101
Partially in https://github.com/SpatioTemporal/STAREmaster/pull/103

No G-RING yet.

[2020-10-16 05:36] michaelleerilee opened #104 "Construct MERRA-2 sidecar files"

[2020-10-16 05:36] michaelleerilee opened #105 "Extend GeoFile for GOES-R (16 & 17) products."
L2: TPW
L1b: Various

[2020-10-16 05:37] michaelleerilee commented on #104
MERRA-2 is a grid, so  we'll only need one.

Similarly for other. gridded data products.

[2020-10-16 13:55] michaelleerilee opened #106 "Conditional compilation with OpenMP?"
Do we need to add ifdef directives to block out OpenMP code on builds without OpenMP?

[2020-10-16 14:38] NiklasPhabian opened #107 "compile STAREMaster w/o hdf4 and hdfeos"
Just an idea; but might it be worthwhile to give users the option to compile STAREMaster without hdf4 and hdfeos and just with hdf5?  hdf4 and hdfeos seem to be legacy that will eventually fade out and might not be required by all users and seem to be causing the majority of the complication during building?

[2020-10-16 17:09] NiklasPhabian commented on #87
alright, but then --data_type should not be an optional argument, but a mandatory one!

[2020-10-16 17:48] NiklasPhabian opened #108 "staremaster segfaults with MOD09 for cover1 build"
createSidecarFile --data_type MOD09 --output_dir /download/MOD09 /down
load/MOD09/MYD09.A2020226.2105.006.2020228020450.hdf
GeoFile constructor
ModisL2GeoFile constructor
Segmentation fault (core dumped)

[2020-10-16 17:53] NiklasPhabian opened #109 "output log"
there might be a use for creating a log that contains e.g. the granule paths and the according created sidecar paths when we do batch creation of sidecars.

The log could be used both to create the catalog later and to quickly verify which granules do-, or do not have a sidecar companion

[2020-10-16 20:26] michaelleerilee commented on #108
Rilee: Create sidecarfile for MOD09, drive segfault.

[2020-10-21 12:47] captainkirk99 opened #111 "Roll back hdfeos version to 2.19 from 2.20"
WE have some reports that some of our build problems will go away if we roll back from version 2.20 to 2.19. So we will give it a try and see how it goes. ;-)

[2020-10-25 17:33] captainkirk99 commented on #111
OK, annoyingly I can't find this release on the HDFEOS web site.

James has a copy, but when I try to use it, it won't uncompress:

[code]

[2020-10-25 17:41] captainkirk99 commented on #111
Here's where I should be able to find the 1.19 version: https://wiki.earthdata.nasa.gov/display/DAS/Toolkit+Downloads

However, the link to the 1.19 version they have, points to a compressed tarball that contains windows binaries, instead of source code. :-(

I have sent an email to their support email address but no answer yet...

[2020-10-25 18:35] captainkirk99 commented on #111
OK, I found a copy on-line on the HDFEOS web site, but it's not quite a normal distribution. However, it contains the source code, and it's possible to build it.

Then I had to add:

`export CXXFLAGS=-fpermissive`

to get STAREmaster to build, due, presumably, to a change in the library between 19 and 20.

With that flag, the build with v19 works.

[2020-10-25 20:44] captainkirk99 commented on #111
OK, the difference between the two versions as far as STAREmaster is concerned, is the SWopen() function call. From 2.19:

`int32 SWopen(char *, intn);
`
From 2.20:

`int32 SWopen(const char *, intn);`

This leads to compile error:

[code]

[2020-10-25 20:48] captainkirk99 commented on #111
OK, actually this const char problem occurs with all the functions that take char arrays. Sigh.

![image](https://user-images.githubusercontent.com/37277297/97118704-31897500-16d1-11eb-93fe-e2f6e95d62a3.png)

[2020-10-25 21:03] captainkirk99 commented on #111
OK, the answer here is to cast the char arrays to (char *). This works with 2.20 because (char *) is silently accepted wherever (const char *) is expected, whereas the reverse is not true.

Given that, it make sense to permit (and test) both HDFEOS2.19 and HDFEOS2.20. STAREmaster will work with either version.

Running CI now...

[2020-10-25 21:04] #111 closed, assigned to nobody

[2020-10-25 21:07] captainkirk99 commented on #109
There is a verbose flag, which should send that to stdout. Does that sound good?

[2020-10-25 21:09] captainkirk99 commented on #107
Yes, agree, but right not all the files we can read are HDF4, so if I built it without HDF4, it could not do anything. ;-)

But eventually, it will handle GOES files, which are not HDF4. At that time, it will make sense to have a build which does not require the pesky HDF4 libraries.

[2020-10-25 21:13] captainkirk99 commented on #102
Honestly, it's not going anywhere, so don't get your hopes up. ;-)

As mentioned in #107 once we handle some non-HDF4 datasets, we can have a version of STAREmaster that builds without HDF4 (and will then not have the capability to process HDF4 files.) So if HDF4 were to go away, that provides a natural path. Simply make building without HDF4 the default, and leave the capability for those that ne

[2020-10-25 21:21] captainkirk99 commented on #91
OK, sorry it took me so long to notice this reply. This means that setting the CXXFLAGS worked to allow configure to find stare.h, which is good.

Now it is breaking on linking to netCDF.

Here's the kind of command I use:

`autoreconf -i && CPPFLAGS="-I/usr/local/hdfeos2.19_fPIC/include -I/usr/local/hdf-4.2.15_fPIC/include -I/usr/local/STARE-0.16.3/include -I/usr/local/netcdf-c-4.7.4_hdf5-1.10.6/

[2020-10-25 21:23] captainkirk99 commented on #92
OK, you know what, maybe I did write it, based on a template for a FindPackage that I found on-line.

[2020-10-25 21:24] captainkirk99 commented on #92
Well I also see this, which does not look right:

[code]

So this does look like something I put together based on a pattern I found on-line...

[2020-10-25 22:28] captainkirk99 commented on #83
@michaelleerilee can we close this issue?

[2020-10-26 03:26] #83 closed, assigned to nobody

[2020-10-26 03:38] michaelleerilee commented on #102
I agree HDF4 & HDF-EOS will be with us for quite a while.

[2020-10-30 14:41] michaelleerilee commented on #108
Ran MOD09 large file test. Getting symptoms of memory problems. Not sure it's directly caused by STARE. Seems more like we're getting an allocation wrong somewhere.

[2020-10-31 18:16] captainkirk99 commented on #91
Have we tried this again?

[2020-10-31 18:16] #92 closed, assigned to nobody

[2020-10-31 19:06] #84 closed, assigned to nobody

[2020-11-02 14:41] NiklasPhabian commented on #91
alright. So the issue seems that despite the fact that I am pointing
CPPFLAGS to /usr/local/hdfeos_fPIC/include (where I installed hdfeos from the fPIC built according to STAREmaster README) and LDFLAGS to /usr/local/hdfeos_fPIC/lib, configure seems to be using the 'system' libhdfeos.a, living at /usr/local/lib/

make -j check

None

checking for a BSD-compatible install... /usr/bin/install -c
che

[2020-11-14 15:57] captainkirk99 opened #116 "find and compile with openMP in Cmake and autotools"
As part of merging the cover1 branch (see #103) we need to find openMP in both CMake and autotools builds.

[2020-11-14 16:18] #116 closed, assigned to captainkirk99

[2020-11-14 20:31] captainkirk99 commented on #106
Good question! Stand by and I will check.

[2020-11-15 18:17] captainkirk99 commented on #64
Porting to the macOS for testing (see #24) I ran into even more trickiness with the HDF4 build. I have updated the README to contain the new magic incantations to get HDF4's old build system working with modern gcc.

[2020-11-15 19:05] captainkirk99 opened #127 "Add option to disable OpenMP"
We have OpenMP support, and we always turn it on when OpenMP is available, which is seems to be by default on the github action servers.

So we need an option to turn it off, so we can test what happens when it's not available.

[2020-11-15 19:07] captainkirk99 commented on #91
OK, well can you remove the non -fPIC version and try again?

[2020-11-15 21:23] captainkirk99 commented on #127
...and this is needed to finish #27

[2020-11-15 21:24] captainkirk99 commented on #24
Reopened because I forgot I still had to get this working in cmake build testing...

[2020-11-15 21:25] captainkirk99 commented on #127
THis needs to be completed for #24. macOS on github actions does not have openmp, and the build fails like this:

[code]

[2020-11-22 20:09] captainkirk99 opened #131 "cmake macos build finding hdf4 ncdump instead of netcdf one"
I see this in the CMake build:

`NCDUMP="/Users/runner/hdf4/bin/ncdump"`

Well that's not right. I am building hdf4 with --disable-netcdf, which should disable their build of ncdump. However, apparently not.

Instead we need to find the netCDF ncdump that's installed by brew.

[2020-11-22 23:01] captainkirk99 commented on #106
I believe I added what was necessary, because the test on a macos without OpenMP is working. So groovy.

But I actually thought I would have to do another step, so let me double-check before closing this issue.

[2020-11-22 23:04] captainkirk99 commented on #102
OK, I will close this issue. We already have #107 which we will add after we add a class for a dataset that does not require HDF4 (as all our classes currently do).

When we handle some datasets that are not in HDF4, then anyone not interesting in HDF4 will be able to build STAREmaster, and will just get some to-be-added error code/message if they try to process a HDF4 file with a STAREmaster buil

[2020-11-22 23:04] #102 closed, assigned to nobody

[2020-11-22 23:07] captainkirk99 commented on #3
OK, if you are still interested, I just got a CMake build working on MacOS on GitHub. And it was not easy! ;-)

So you can take a look and see if that helps. But it uses brew not conda. And I had to hack it a bit to get it working: https://github.com/SpatioTemporal/STAREmaster/blob/master/.github/workflows/cmake_2.yml

During the long process of getting this working, I did fix some mistakes in the

[2020-11-22 23:09] captainkirk99 commented on #11
The only way I was able to get this to work was to hack in the -lz. See: https://github.com/SpatioTemporal/STAREmaster/blob/master/.github/workflows/cmake_2.yml

It may be that the CMake build should explicitly look for HDF5 and libz? HDF5 is introducing the dependency on -lz...

[2020-11-22 23:10] captainkirk99 commented on #38
I believe this work is all working now. I will close this issue.

[2020-11-22 23:10] #38 closed, assigned to nobody

[2020-11-22 23:12] captainkirk99 commented on #24
OK, now we have testing for both autotools and cmake build on MacOS!

[2020-11-22 23:12] #24 closed, assigned to nobody

[2020-11-22 23:13] captainkirk99 commented on #100
I believe this can be found here:
https://github.com/SpatioTemporal/STAREmaster/blob/master/.github/workflows/autotools_2.yaml

[2020-11-22 23:15] captainkirk99 commented on #127
I believe this is now working in both CMake and autotools builds. I need to add testing for it.

[2020-11-22 23:16] captainkirk99 commented on #101
This is complete. The code now has:

[code]

I will close this issue.

[2020-11-22 23:16] #101 closed, assigned to nobody

[2021-01-16 16:22] captainkirk99 opened #135 "cmake build now failing"
Even with no code changes, the cmake build is failing like this:

[code]

[2021-01-16 16:38] captainkirk99 commented on #135
OK, one way to fix this is to do this:

[code]

This is what's done in the the other cmake build.

[2021-01-16 17:19] #135 closed, assigned to captainkirk99

[2021-01-16 17:21] captainkirk99 opened #136 "Update CI CMake builds to STARE-0.16.3"
The CMake builds need to use the latest STARE version.

[2021-01-16 17:40] #136 closed, assigned to captainkirk99

[2021-01-16 18:03] captainkirk99 opened #139 "need to be able to read sidecar files"
The opendap library needs to be able to understand STARE sidecar files. Of course, we should have a function which reads the file and presents the information to outside users. That way we can keep details about the sidecar file all within this repo.

[2021-01-16 18:04] #65 closed, assigned to nobody

[2021-01-17 14:24] captainkirk99 opened #141 "variables attribute empty in stare indexes in t1 test"
[code]

[2021-01-17 21:51] captainkirk99 opened #142 "Remove unused parameter in NetcdfSidecarFile.cpp functions"
Some of the functions in the class have both a verbose and a quiet parameter. The quiet parameter is unused and should be removed.

[2021-01-17 21:57] captainkirk99 opened #143 "large file tests are failing for me"
[code]

[2021-01-18 15:05] captainkirk99 opened #145 "warnings in ModisL2GeoFile.cpp"
[code]

[2021-01-18 15:30] #145 closed, assigned to captainkirk99

[2021-01-18 15:34] captainkirk99 opened #146 "Change name of ModisL2GeoFile to Modis05L2GeoFile"
The class ModisL2GeoFile handles MOD05 data files only. So, as with Modis09L2GeoFile, we should put the 05 in the name of the class.

[2021-01-18 17:14] #146 closed, assigned to captainkirk99

[2021-01-18 20:20] captainkirk99 opened #148 "What about the different resolutions in the MODIS MOD05 files?"
In the code we have (Modis05L2GeoFile.cpp)

[code]

I believe what is going on here is there are multiple resolutions in the data. Previously I had been interpolating the finer resolution from the lat/lon grid for the 5 km resolution.

@michaelleerilee I believe you commented out all but the 5km index. What about the data variables in the file that are not on that grid?

[2021-01-23 13:51] captainkirk99 commented on #148
OK, we have decided to accommodate both interpolation and use of the MOD03 file...

[2021-01-23 15:51] captainkirk99 opened #150 "Do we need to add variables attribute to covers?"
We have a variables attribute which lists the data variables for which the index applies.

Similarly, do we need an attribute which lists the data variables for whcih the cover applies. In many cases, this will just be a list of all the variables in the file.

Or, is there always only one cover, and that cover applies to the entire file (i.e. all the variables in a file). @michaelleerilee what do

[2021-01-23 17:29] #96 closed, assigned to nobody

[2021-01-23 17:31] captainkirk99 commented on #141
OK, now the variables are listed:

[code]

[2021-01-23 17:31] #141 closed, assigned to captainkirk99

[2021-01-23 19:23] #81 closed, assigned to nobody

[2021-01-23 20:05] captainkirk99 commented on #91
Is this issue still relevant?

There have been many changes in the build, but I think we found that the problem was that you must always link to an -fPIC version of both HDF4 and HDFEOS. This is annoying, but I don't think there is anything we can easily do about it.

[2021-01-23 20:15] #55 closed, assigned to nobody

[2021-01-24 16:36] captainkirk99 commented on #127
I have added a workflow to test this.

[2021-01-24 16:47] #127 closed, assigned to captainkirk99

[2021-01-24 17:15] #142 closed, assigned to captainkirk99

[2021-01-24 17:22] captainkirk99 opened #156 "Combine NetcdfSidecarFile and SidecarFile classes"
Oribinally we thought we would have the sidecar file in the same format as the data file. So netCDF files would get netCDF sidecars, and HDF4 files would get HDF4 sidecars.

But, HDF4 and netCDF classic cannot be used for sidecar files, because they don't support 64-bit ints.

So all sidecar files are in netCDF-4. Therefor these two classes can be combined.

[2021-01-26 16:51] NiklasPhabian commented on #91
I won't get to verifying this very soon. You can close this. I will raise an issue if I have problems next time trying to build STAREMaster

[2021-01-27 14:44] captainkirk99 opened #161 "Change C-style arrays in GeoFile to vectors"
In GeoFile.h we have a lot of arrays that are C-style. That is, there is a pointer, and memory must be malloced and freed, etc.

Instead, I should be using C++ vectors.

[2021-01-30 13:26] #156 closed, assigned to captainkirk99

[2021-01-30 14:05] captainkirk99 commented on #69
OK, we have decided to provde the 1 km index and cover. I am looking into this now...

[2021-01-30 14:14] captainkirk99 opened #164 "Handle MOD03 files Geolocation - 1km"
For info about mod03 see https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/MOD03

[2021-02-15 18:08] captainkirk99 opened #168 "NASA site no longer serving up HDFEOS, need to switch to hyrax_dependencies and only test against 2.19"
THe NASA site is not serving up HDFEOS. Not sure it that's a temporary or permanent thing. (This is used in GitHub action testing.)

However, since I set up that testing, I learned that James provides the 2.19 version of HDFEOS library (but not the 2.20 version), on GitHub. Which seems more reliable for github testing.

Also, James has relayed to me that the 2.20 release is not an official release

[2021-02-15 19:51] #168 closed, assigned to captainkirk99

[2021-02-15 22:08] daltonkell commented on #91
Hi all, I ran into this issue when building. I looked at the `config.log` and saw that the error seemed to be that `STARE` had not been built with the proper flags - i.e. `-std=c++11`. I went back to the dependencies (I built separate libs for each) and re-compiled after setting `CXX_FLAGS="-std=c++11"` and `CXXFLAGS="-std=c++11"`. I then built `STARE` again, came back to `STAREmaster` and ensured

[2021-02-15 22:23] #91 closed, assigned to nobody

[2021-03-25 17:22] michaelleerilee opened #170 "Temporal Representation in existing Granule Files?"
@captainkirk99 Question:

STARE time is based on TAI. What is the representation of time in the granules we construct sidecars for? What data type? Float? Integer? Also, what is the epoch? I.e. what is "zero?"

We might need to provide a new method in STARE's temporal API to ease indexing the Granule timestamp.

[2021-03-30 12:18] captainkirk99 opened #171 "Add extern C function so that autoconf can find STAREmaster library with AC_CHECK_LIB()"
When bes (or other packages) use STAREmaster, they must be able to find it. For that we need an extern C function, without C++ name mangling, for AC_CHECK_LIB() to link to.

A function STAREmaster_inq_libvers() will do the job.

[2021-03-30 12:21] captainkirk99 opened #172 "Install header files"
Currently we do not install the header files, but we need to. ;-)

[2021-03-30 12:44] captainkirk99 opened #175 "Move constants from ssc.h to STAREmaster.h and remove ssc.h"
We need a main header file, and it should be called STAREmaster.h.

[2021-03-31 13:27] #171 closed, assigned to captainkirk99

[2021-03-31 13:27] #172 closed, assigned to captainkirk99

[2021-07-10 15:25] captainkirk99 opened #177 "Update to STARE 0.16.7-beta in CI system"
STARE is now up to 0.16.7-beta. We need to update our CI system to use this version.

[2021-07-12 11:45] #177 closed, assigned to captainkirk99

[2021-07-12 11:46] captainkirk99 opened #179 "port in changes from bes work"
port in changes from bes work

[2021-07-13 15:59] #179 closed, assigned to captainkirk99

[2021-07-14 09:44] captainkirk99 opened #183 "MOD09 processing no longer working..."
MOD09 processing no longer working since my merge of OPENDAP branch changes.

[code]

[2021-07-14 19:10] captainkirk99 opened #184 "Release 1.1.0 at end of July"
To support OPENDAP changes, we need to release 1.1.0 with at least #183 fixed, by the end of July.

[2021-07-15 08:10] captainkirk99 opened #185 "change createSidecarFiles.cpp to mk_stare.cpp"
Life is complicated enough! Let's have our source file name match our binary file name...

[2021-07-15 09:10] #183 closed, assigned to captainkirk99

[2021-07-15 09:10] #185 closed, assigned to captainkirk99

[2021-07-15 09:12] captainkirk99 opened #188 "Something wrong with MOD09 250m lat/lons"
These don't look right:

[code]

Here's the 500m ones:
[code]

[2021-07-15 10:34] captainkirk99 commented on #188
OK, as explained in this issue: https://github.com/SpatioTemporal/STAREmaster/issues/42

This is not broken, but by design.

The lat/lon values are provided only at the 1 km resolution. So for the 250 m data, we just use the same 1 km resolution lat/lon values 4 times. This was suggested by the MODIS support team at NASA.

Another alternative would be to interpolate between them, but this was deci

[2021-07-18 08:37] captainkirk99 commented on #188
James sez:

[2021-07-18 11:12] captainkirk99 commented on #188
Well James, perhaps the high temps up there are causing hallucinations, because I don't see any lat/lons in the file except the 1km resolution...

![image](https://user-images.githubusercontent.com/37277297/126064967-47790eff-6ec4-4999-9f89-1aadc0f1122b.png)

[2021-07-18 11:35] captainkirk99 commented on #188
Also in the MOD03 geolocation file, I see that only 1 km resolution is provided:

![image](https://user-images.githubusercontent.com/37277297/126065484-878b7e07-4971-4e0b-80a9-a53616ac5292.png)

[2021-07-18 11:36] captainkirk99 commented on #188
For reference, here's the sizes of the different resolution's arrays:
dimensions:
	i_1km = 2030 ;
	j_1km = 1354 ;
	i_500m = 4060 ;
	j_500m = 2708 ;
	i_250m = 8120 ;
	j_250m = 5416 ;

[2021-07-18 11:37] captainkirk99 commented on #188
So we see that both MOD09 and MOD03 only provide 1km resolution lat/lon data, of array size 2030 x 1354.

[2021-07-18 11:46] captainkirk99 commented on #188
@michaelleerilee suggests the code in https://github.com/SpatioTemporal/GeoData/tree/master/geodata/modis_coarse_to_fine_geolocation

This is about 500 lines of python code which does the interpolation. So, is the answer here to re-implement this in C++ and then interpolate the 1km lat/lon data to 250m and 500m?

[2021-07-23 17:59] jgallagher59701 commented on #188
I looked at the mod09 data and saw that there were explicit lat/lon data for each of the resolutions. I will look into it more today and get back to you.

[2021-07-23 18:09] captainkirk99 commented on #188
OK if you can point it out, I am happy to use it...

Perhaps you are looking at a netCDF file or some other version of the data? I am looking at the HDF4 file, but can use the netCDF file if that has the data...

[2021-07-23 18:36] jgallagher59701 commented on #188
Here's a MOD09 file served by Hyrax: http://test.opendap.org/opendap/STARE/MYD09.A2019003.2040.006.2019005020913.hdf.html

The domain variables (Latitude, ...) are at the bottom.

I used constraints to access them and here are a subset of their values:

Dataset: MYD09.A2019003.2040.006.2019005020913.hdf
Latitude[0], 32.2761, 32.274, 32.2719, 32.2697, 32.2676, 32.2654, 32.2633, 32.2612, 32.259, 32.

[2021-07-23 18:38] jgallagher59701 commented on #188
BTW, this is what I mean by 'We could read the values with opendap.' The same access works regardless of file type, etc. and the server supports binary access. I'm using ascii here because it's easy to read ;-)

[2021-07-23 19:01] jgallagher59701 commented on #188
OK, looking at this file with HDFView, I can see the Latitude_1, ..., etc., domain variables _are_ generated by the server. So, I guess we need to interpolate the values. Arrgh. Sorry for the confusion.

[2021-07-23 20:08] jgallagher59701 commented on #188
Yes. Thanks and sorry for the confusion.

[2021-07-23 20:56] captainkirk99 commented on #188
OK, does that mean you do want me to translate the interpolation code into
C++ and build it into staremaster?

Do you want me to take code from bes for this? Or start with Michael's
python? Either way is fine by me...

On Fri, Jul 23, 2021 at 2:09 PM James Gallagher ***@***.***>
wrote:

[2021-07-29 07:06] captainkirk99 commented on #106
James does not want to use OpenMP in the Opendap build. So I will disable OpenMP by default, but still support it of --enable-openmp is used, and it is present on the build system.

[2021-07-29 08:06] #106 closed, assigned to nobody

[2021-07-30 13:05] captainkirk99 opened #193 "make -j check no longer working when --enable-large-file-tests is used"
Because run_large_tests.sh and tst_interp.c both try and produce the same output file at the same time...

[2021-07-30 13:38] #193 closed, assigned to captainkirk99

[2021-08-09 12:02] #161 closed, assigned to captainkirk99

[2021-08-09 12:42] captainkirk99 commented on #70
Should this issue be closed?

[2021-08-09 12:45] captainkirk99 commented on #47
Lots of discussion here, but I believe we have resolved the main question, which is how to handle MOD03 geolocation files. So far, the other mod files we can handle already include the 1 km lat/lon found in the MOD03 geolocation file. So there is no advantage to getting it from the MOD03 file over just taking what they have already packaged with the data.

[2021-08-09 12:45] #47 closed, assigned to nobody

[2021-08-09 12:46] #70 closed, assigned to nobody

[2021-08-09 12:47] captainkirk99 commented on #88
Did this build issue ever get resolved?

And, if not, can you try with the latest master branch?

[2021-08-09 12:48] captainkirk99 commented on #143
Fixed.

[2021-08-09 12:48] #143 closed, assigned to captainkirk99

[2021-08-09 12:53] captainkirk99 commented on #139
First draft is in place...

[2021-08-09 12:53] #139 closed, assigned to captainkirk99

[2021-08-09 13:26] NiklasPhabian commented on #88
humm. With latest master branch, I get:

[code]

[2021-08-09 13:28] NiklasPhabian commented on #88
uh. Duh. Libtools.

[2021-08-09 13:40] NiklasPhabian commented on #88
alright. I was able to build according to recipe without hdf4 (--disable-hdf4)

three packages I had to install on my vanilla Ubuntu 20.04 first:
[code]

quick question; the README mentions a binary ```mk_stare```.  It would seem that only a ```print_stare``` and a ```creatSidecarFile``` binary compiled though and that ```make install``` only copied ```print_stare```  to ```/usr/local/bin```

[2021-08-11 06:41] captainkirk99 opened #202 "No cover information for MODIS 09 L2 files"
We have cover information in the MOD05 files, but not in the MOD09 files.

Yet I believe @jgallagher59701 is counting on cover information in these files.

I tried to adapt the MOD05 code to generate cover for the MOD09 files, but unfortunately the MOD09 files do not have the same GRing information in their structmetadata.0 attribute. So I'm not sure how to generate a cover.

Given that we have th

[2021-08-11 06:43] captainkirk99 commented on #202
Here's the structmetadata.0 attribute for MOD09:
[code]

[2021-08-11 19:18] NiklasPhabian commented on #202
Here is why I pulled grings for MOD09 from:

[code]

[2021-08-11 19:19] NiklasPhabian commented on #202
I guess in short; the GRING appears to be in the "CoreMetadata", not in the "StructureMetadata".

[2021-08-17 14:31] captainkirk99 commented on #108
Can you try again with current master? I have cleaned up a lot of memory operations...

[2021-08-21 07:07] #188 closed, assigned to nobody

[2021-08-21 07:08] captainkirk99 commented on #202
This is now working and MOD09L2 files are getting a cover. I will close this issue.

[2021-08-21 07:08] #202 closed, assigned to nobody

[2021-08-21 07:09] captainkirk99 opened #206 "Better testing of MOD05 output"
We can use some better testing of MOD05 sidecar files.

[2021-08-21 07:15] captainkirk99 commented on #108
I'm going to close this issue. The code has changed considerably since it was open. Try again with the current master.

[2021-08-21 07:15] #108 closed, assigned to michaelleerilee

[2021-08-21 07:27] captainkirk99 opened #207 "Handle MOD05L2 files - MODIS Total Precipitable Water Vapor 5-Min L2 Swath 1km and 5km"
Documentation here:
https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/MOD05_L2

Data here:
https://ladsweb.modaps.eosdis.nasa.gov/archive/allData/61/MOD05_L2/

These data come with 5km geolocation data but 1km water vapor data. Modis science team - why do you hate me?

![image](https://user-images.githubusercontent.com/37277297/130314284-9d0b8de1-985d-4f5a-9ab1-1b07b8f10f9a

[2021-08-21 07:28] #207 closed, assigned to captainkirk99

[2021-08-21 08:12] captainkirk99 opened #208 "Remove mk_stare MOD05 output to stdout when -v is not used"
Currently it still outputs some debug output.

Related to #206

[code]

[2021-08-21 09:03] captainkirk99 opened #210 "Speed up MOD05 processing"
MOD05 processing is pretty slow

[code]

[2021-08-21 09:09] captainkirk99 commented on #210
@michaelleerilee one thing that is happening in the code is:
            index1.adaptSpatialResolutionEstimatesInPlace(&(geo_index_1[i * MAX_ACROSS]), MAX_ACROSS);

Can you help me understand what this is doing?

[2021-08-21 09:41] captainkirk99 opened #212 "In MOD05 processing, calculating cover with perimeter sometimes hangs"
The first file is processed in 40 seconds, the second file is hanging.

Note the difference in the cover settings, in particular pk = -1 in the first case, 1347 in the case that hangs.

@michaelleerilee I believe you wrote the cover code - do you know what is going on? The code is here:
https://github.com/SpatioTemporal/STAREmaster/blob/master/src/Modis05L2GeoFile.cpp

[code]

[2021-08-21 10:08] captainkirk99 commented on #206
OK, this works for me, which is encouraging. Using the -g (GRING) option is necessary:

[code]

[2021-08-21 11:18] #208 closed, assigned to captainkirk99

[2021-08-21 14:17] captainkirk99 opened #214 "STARE index variables should have an attribute listing the names of the lat/lon variables used in computing that index."
STARE index variables should have an attribute listing the names of the lat/lon variables used in computing that index.

For example:

[code]

How do we know that the STARE index goes with those lat/lon variables, instead of two other lat/lon variables that might be in the file?

[2021-08-21 18:26] michaelleerilee opened #215 "cmake build not working on MacOS 11.5.1 x86_64"
[code]

And mlr-build is:
[code]

Other information.
[code]

[2021-08-21 19:05] michaelleerilee opened #216 "autotools build not working on MacOS 11.5.1 x86_64"
[code]

[2021-08-21 20:23] michaelleerilee commented on #215
CMakeLists_orig.txt still works. Except for a spurious FindSTARE error.

[2021-08-23 08:15] captainkirk99 commented on #215
Unfortunately the CMake build was clobbered by some changes James needed to make. Can you try the autotools build?

[2021-08-23 08:18] captainkirk99 commented on #216
Try setting CPPFLAGS=-I/Users/mrilee/opt/local/include/STARE LDFLAGS=/Users/mrilee/opt/local/lib/STARE before running configure.

You need to have include and lib locations for STARE, HDF4, hdfeos and netcdf-c. Here's what it looks like for me:

`autoreconf -i && LDFLAGS="-L/usr/local/hdf-4.2.15/lib -L/usr/local/STARE-0.16.7-beta/lib -L/usr/local/hdfeos2.19/lib -L/usr/local/netcdf-c-master_hdf5-1.